name: "CI/CD Pipeline for tilbakekreving"
on:
  workflow_dispatch: {}
  push:
    paths-ignore:
      - "**.md"
      - ".nais/alerts.yaml"
      - ".github/workflows/alerts.yaml"

permissions:
  contents: read
  id-token: write

jobs:
  check-changes:
    name: "Determine what changed"
    runs-on: "ubuntu-24.04"
    permissions:
      contents: "read"
      id-token: "write"
      actions: "read"
    outputs:
      changed: ${{ steps.changed-files.outputs.changed }}
    steps:
      - uses: "actions/checkout@v6"
        with:
          fetch-depth: 0
      - name: "Determine what to do"
        id: changed-files
        uses: "nais/what-changed@main"
        with:
          files: .nais/nais.yaml, .nais/vars/dev.yaml, .nais/vars/prod.yaml

  build:
    needs: check-changes
    if: needs.check-changes.outputs.changed != 'only-inputs'
    uses: ./.github/workflows/build.yaml
    secrets: inherit
    with:
      team: "utenlandsadresser"
      docker_context: "."
      dockerfile: "./Dockerfile"

  deploy:
    uses: ./.github/workflows/deploy.yaml
    needs: [check-changes, build]
    if: always() && !failure() && !cancelled()
    strategy:
      matrix:
        env:
          - cluster: "dev-gcp"
            gh_environment: "dev-gcp"
            nais_vars_file: "dev"
          - cluster: "prod-gcp"
            gh_environment: "prod-gcp"
            nais_vars_file: "prod"
    with:
      image: ${{ needs.build.outputs.image }}
      cluster: ${{ matrix.env.cluster }}
      gh_environment: ${{ matrix.env.gh_environment }}
      nais_resource_file: ".nais/nais.yaml"
      nais_vars_file: ".nais/vars/${{ matrix.env.nais_vars_file }}.yaml"
